<h2> Best Value Items </h2>

<ul>
  <% products.forEach((oneProduct) => { %>
    <li>
      <h3> <%= oneProduct.name %> </h3>
      <p> Price: $<%= oneProduct.price %> </p>
      <a href="/products/<%= oneProduct._id %>">
        View Details
      </a>
    </li>
  <% }) %>
</ul>
