<!-- views/products/products-list-view.ejs -->

<h2> Products List </h2>

<ul>
  <% products.forEach((oneProduct) => { %>
    <li>
      <%= oneProduct.name %> - $<%= oneProduct.price %>
        <!--   /product-details?id=1788 -->
      <a href="/product-details?id=<%= oneProduct._id %>">
        View Details
      </a>
    </li>
  <% }) %>
</ul>

<a href="/products/new">
  Add a Product
</a>
