<!-- views/products/products-list-view.ejs -->

<h2> Products List </h2>

<ul>
  <% products.forEach((oneProduct) => { %>
    <li>
      <%= oneProduct.name %> - $<%= oneProduct.price %>
    </li>
  <% }) %>
</ul>
